.icon {
  color: var(--wlh-primary-color);

  &.danger-icon {
    color: var(--wlh-error-color);
  }

  &.disabled {
    color: var(--color-primary-text-disabled);
    cursor: not-allowed;
    pointer-events: none;
  }

  & + .icon {
    margin-left: 7px;
  }
}
